.mt-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.navbar {
  padding: 15px
}

.navbar-header .navbar-brand {
  font-size: 72px;
  min-height: 50px;
}

.nav.navbar-nav {
  font-size: 36px;
}


/*
  These controls are initially hidden, then managed by js.
  As this evolves, they can probably be grouped.
*/
.tabbable {
  display: none;
}

.tabbable .tab-heading {
  margin: 10px;
  padding: 10px;
}

.display-controls {
  display: none;
}

.restart-button {
  display: none;
}

.submit-button {
  display: none;
}

.results-area {
  display: none;
}

